# images
images/

# mac
.DS_Store

# archives
*.zip

# video
*.mp4
*.mov

# photoshop
*.psd

# temp
node_modules//Users/hsiaomiao/Documents/Github/Showcasse/images/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
